form input, textarea, select{
    margin: 0 0 7px;
    padding: 10px;
    border: none;
    border-top: 1px solid #202421;
    font: 400 11px/11px  sans-serif;
    letter-spacing: 1px;
    color: #8e999f;
    background: url('/img/back_black.jpg');
    resize:none;
    box-sizing: border-box;
    box-shadow: 4px 4px 15px #575252;
}

form input:hover, textarea:hover, select:hover{
    /*box-shadow: none;*/
}

input:focus,textarea:focus{
    outline: none;
}

.menu_block form{
    margin-top: 8px;
}
.service form{
    margin-top: 30px;
    margin-bottom: 15px;
}

.menu_block form input[type='text'],.service form input[type='text']{
    width: 445px;
    height: 32px;
}

.menu_block form input[name='phone'],.service form input[name='phone']{
    width: 215px;
    margin-right: 10px;
}

.menu_block form input[name='mail'],.service form input[name='mail']{
    width: 215px;
}

.menu_block form input[type='submit'],.service form input[type='submit']{
    cursor:pointer;
    width: 445px;
    background: url('/img/back_blue.jpg');
    color: #c7d5dd;
    border-top: none;

}

.menu_block form textarea,.service form textarea{
    width: 445px;
    height: 84px;
}

.service form textarea{
    width: 445px;
    height: 135px;
}

form#order_services_contacts input[type='text']{
    width: 445px;
    height: 32px;
}

form#order_services_contacts input[name='phone']{
    width: 215px;
    margin-right: 11px;
}

form#order_services_contacts input[name='mail']{
    width: 215px;
}

form#order_services_contacts input[type='submit']{
    cursor:pointer;
    width: 445px;
    background: url('/img/back_blue.jpg');
    color: #c7d5dd;
    border-top: none;

}

form#order_services_contacts textarea{
    width: 445px;
    height: 64px;
}


.lightbox_block {
    background: url('/img/back_gray.jpg'), rgb(100, 100, 100);
    width: 505px;
    padding: 30px;
    box-shadow: 1px 1px 2px black;
    margin: 0 auto;
}

form.lightbox_form input[type='text']{
    width: 445px;
    height: 32px;
}

form.lightbox_form input[name='phone']{
    width: 215px;
    margin-right: 15px;
}

form.lightbox_form input[name='mail']{
    width: 215px;
}

form.lightbox_form input[type='submit']{
    cursor:pointer;
    width: 445px;
    background: url('/img/back_blue.jpg');
    color: #c7d5dd;
    border-top: none;

}

form.lightbox_form textarea{
    width: 445px;
    height: 64px;
}


.lightbox_block h4{
    font: normal 10px/10px sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    border-bottom: 1px solid #5c7785;
    padding-bottom: 10px;
    box-shadow: 0px 1px 0px black;
    margin-bottom: 10px;
}

form.form_body input, form.form_body textarea, form.form_body select{
    width: 460px;
    margin-right: 40px;
    height: 40px;
    float:left;
}

form.form_body input[name=link],form.form_body input[name=photo]{
    width: 460px;
    margin-right: 0px;
}

form.form_body textarea[name=description]{
    height: 80px;
    width:460px;
    margin-right: 0px;
    float:left;
}


form.form_body input[type="submit"] {
    margin-left: 40px;
    margin-right: 0px;
    cursor:pointer;
}

form.form_body {
    float: left;
}

.list{
    float:left;
    clear: both;
}

.list_line {
    float: left;
    width: 460px;
    margin-right: 40px;
    margin-bottom: 10px;
    height: 100px;
}

.list_line:nth-of-type(2n) {
    float: left;
    width: 460px;
    margin-right: 0px;
}

.list_line .remove{
    float:right;
    color:red;
}


.list_line_logo{
    float: left;
    padding-right: 10px;
    width: 80px;
    height: 80px;
}

.list_line_name {
    font-size: 14px;
    line-height: 14px;
}
.list_line_type{
    float: right;
    line-height: 14px;
}

.list_line_link{
    padding: 5px 0px 10px;
    font-size: 10px;
}

.list_line_description{
    font-weight: normal;
 }

