.event {
    background: #e4e6e6;
    float: left;
    width: 427px;
    box-shadow: 1px 1px 2px black;
    position: relative;
}

.event:nth-of-type(2n){
    margin-top: 160px;
}

.event:nth-of-type(2n+1){
    margin-right:40px;
}

.event_name a {
    color: #DBDBDB;
    font-weight: 400;
}

.event_name {
    background: url('/img/back_gray.jpg'), rgb(100, 100, 100);
    font: 600 13px/15px 'proxima-nova', sans-serif;
    padding: 18px 0 18px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 -1px 0 #000;
}

.event_description {
    font: 400 12px/24px sans-serif;
    margin-bottom: 0;
    position: relative;
    text-shadow: 0 1px 0 #fff;
    background: #E6E8E8;
    padding: 25px 30px 22px;
    color: #353a3b;
}

.event_data {
    font: 600 11px/10px 'proxima-nova', sans-serif;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding-top: 14px;
    letter-spacing: 1px;
    padding: 25px 30px 22px;
    color: #000000;
    text-shadow: 0 1px 0 #fff;
}

.history_coll {
    float: left;
    width: 960px;
    border-right: 1px solid black;
    padding-top: 45px;
}

 .history_line {
    position: absolute;
    /*right: -235px;*/
    top: 0px;
}


.line {
    top: 25px;
    position: absolute;
    border-bottom: 1px solid black;
    left: 455px;
}
.event:nth-of-type(2n+1) .line {
    width: 502px;
}

.event:nth-of-type(2n) .line {
    width: 36px;
}

.dot_left,.dot_right {
    width: 5px;
    height: 5px;
    background: #353a3b;
    border-radius: 3px;
    position: absolute;
    top: 23px;
    left: 450px;
}

.event:nth-of-type(2n) .dot_right {
    left: 490px;
}

.event:nth-of-type(2n+1) .dot_right {
    left: 957px;
}

.year {
    background: #E6E8E8;
    padding: 2px 5px;
    box-shadow: 1px 1px 2px #353a3b;
    color: black;
    font-size: 10px;
    font-weight: normal;
    top: 17px;
    position: absolute;
    white-space:nowrap;
}

.event:nth-of-type(2n+1) .year {
    left: 980px;
}

.event:nth-of-type(2n) .year {
    left: 514px;
}

.main_wrap {
    padding-top: 0px;
}
