.icons{
    background: url('/img/icons.png') no-repeat;
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.icons:hover,.menu_block ul li:hover span, .services ul li:hover span {
    background: url('/img/icons_h.png') no-repeat;

}

.menu_block ul li span {
    background: url('/img/icons.png') no-repeat;
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin-top: -7px;
    margin-right: 8px;
    margin-left: 0px;
}
.services ul li:nth-of-type(1) span, .menu_block ul a:nth-of-type(1) span {
    background-position: -30px -0px;
}

.services ul li:nth-of-type(2) span, .menu_block ul a:nth-of-type(2) span {
    background-position: -60px -0px;
}

.services ul li:nth-of-type(3) span, .menu_block ul a:nth-of-type(3) span {
    background-position: -90px -0px;
}

.services ul li:nth-of-type(4) span, .menu_block ul a:nth-of-type(4) span {
    background-position: -120px -0px;
}
.services ul li:nth-of-type(5) span, .menu_block ul a:nth-of-type(5) span {
    background-position: -150px -0px;
}



.menu_block_services ul a:nth-of-type(1) span {
    background-position: -60px -60px;
}

.menu_block_services ul a:nth-of-type(2) span {
    background-position: -210px -60px;
}

.menu_block_services ul a:nth-of-type(3) span {
    background-position: -150px -60px;
}

.menu_block_services ul a:nth-of-type(4) span {
    background-position: -120px -60px;
}
.menu_block_services ul a:nth-of-type(5) span {
    background-position: -90px -60px;
}



.skype_icon {
    background-position: -90px -30px !important;
}

.email_icon {
    background-position: -150px -30px !important;
}

.vk_icon {
    background-position: -30px -30px !important;
}