body {
    font: 700 11px/11px  sans-serif;
    /*color: #bfc5d0;*/
    color: #DBDBDB;
    letter-spacing: 1px;
    height: auto;
    min-height: 100%;
    overflow:hidden;
}
html{
    overflow:hidden;
}
a{
    text-decoration: none;
    /*color: #4388ac;*/
    color: #bfc5d0;
}

a:hover{
    color: #4388ac;
}


i {
    font-style: italic;
}

div {
    box-sizing: border-box;
}

.block {
    box-shadow: 1px 1px 2px black;
    background: url('/img/back_gray.jpg');
    background-color: rgb(100, 100, 100);
}

h2 {
    text-transform: uppercase;
    letter-spacing: 0px;
}

.grid {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right:0px;
    bottom:0px;
    z-index: 10;
    background: url('/img/grid.png') center -3px;
    background-color: #d7d8dc;
}




.main_wrap {
    width: 1040px;
    position: relative;
    z-index: 100;
    margin: 0px auto;
    height: 100%;
    padding-top: 25px;
}

/*.logo {*/
    /*z-index: 101;*/
    /*width: 165px;*/
    /*height: 35px;*/
    /*position: fixed;*/
    /*top: 55px;*/
    /*left: 20px;*/
    /*padding: 10px;*/
    /*line-height: 17px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
/*}*/

.logo > span {
    background: url('/img/menu.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
    margin-top: -3px;
    margin-left: 0px;
}



.hidden_menu_wrap__our-projects{
    position: fixed;
    right: 5px;
    top: 5px;
    padding-top: 10px;
    cursor: default;
    opacity: 0.98;
    height: 50px;
    width: 350px;
}

.hidden_menu__our-projects{
    position: fixed;
    padding: 30px 40px 0px;
    width: 520px;
    right: 5px;
    top: 46px;
}

.hidden_menu {
    position: fixed;
    padding: 30px 40px 0px;
    width: 1030px;
}

.hidden_menu_wrap {
    position: fixed;
    left: 5px;
    top: 36px;
    padding-top: 10px;
    cursor: default;
    opacity: 0.98;
    height: 10px;
    width: 350px;
}

.hidden_menu h4,.hidden_menu__our-projects h4{
    font: normal 10px/10px  sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    border-bottom: 1px solid #5c7785;
    padding-bottom: 10px;
    box-shadow: 0px 1px 0px black;
}

.menu_block {
    float: left;
    margin-right: 60px;
    width: 445px;
    text-align: left;
    margin-bottom: 40px;
}

.menu_block:nth-of-type(2n){
    margin-right: 0px;
}

.menu_block ul li {
    font: normal 13px/13px  sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 14px 7px;
    border-bottom: 1px solid #2a2c34;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0px 1px 0px rgb(104, 104, 104);
    color: #bfc5d0;
}

.menu_block ul li:hover{
    color: #4388ac;
}

.form {
    z-index: 101;
    width: 165px;
    height: 35px;
    position: fixed;
    top: 55px;
    right: 20px;
    padding: 10px;
    line-height: 15px;
    text-align: center;
    cursor: pointer;
}

.hidden_form_wrap {
    position: fixed;
    top: 90px;
    padding-top: 10px;
    left: 20px;
    cursor: default;
    opacity: 0.98;
    height: 10px;
    width: 165px;
}


.hidden_form {
    position: fixed;
    padding: 30px 40px;
}

.form_block {
    float: left;
    margin-right: 60px;
    width: 260px;
    text-align: left;
}


.info_line {
    z-index: 101;
    height: 40px;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}

.menu_icon {
    padding: 14px 7px;
    background: url('/img/unreal-project_minis.png') no-repeat;
    position: fixed;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    z-index: 5000;
    cursor: pointer;

}

.our-projects {
    padding: 14px 7px;
    background-position: 0px -30px !important;
    position: fixed;
    top: 5px;
    RIGHT: 5px;
    width: 30px;
    height: 30px;
    z-index: 5000;
    cursor: pointer;
}

.info_line_bottom {
    z-index: 101;
    height: 40px;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    float: left;
    width: 100%;
    margin-top: 40px;
}

.info_line_title {
    float: left;
    /*background: url('/img/unreal-project_minis.png') no-repeat;*/
    height: 34px;
    width: 218px;
    margin-top: -4px;
    margin-left: -4px;
    cursor:pointer;
}

.info_line_description {
    float: right;
    margin-right: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-shadow: 1px 1px 1px rgb(17, 0, 0);
}

.info_line_description h2{
    letter-spacing: 2px;
}

.header {
    float: left;
    margin: 10px 0px 10px;
    width: 100%;
}

.header h1,.header h2 {
    float: left;
    font: 700 19px/19px  sans-serif;
    /*color: #282a2a;*/
    color:black;
    text-transform: uppercase;
}
.header span {
    float: right;
    font: 700 10px/10px  sans-serif;
    /*color: #282a2a;*/
    color:black;
    text-transform: uppercase;
    display: inline-block;
    line-height: 18px;
}

.services {
    margin-top: 20px;
    margin-bottom: 20px;
    /*background: #e4e6e6;*/
    background: rgba(228, 230, 230, 0.8);
    padding: 40px 0px 40px 40px;
    float: left;
    /*color: #282a2a;*/
    color:black;
    width: 1040px;
}

.services a {
    color: #282a2a;
}

.service_full ul li:hover{
    color: #4388ac;
    cursor: pointer;
}

.service ul li:hover{
    color: #4388ac;
    cursor: pointer;
}

.service {
    float: left;
    width: 460px;
    margin-bottom: 40px;
    margin-right:40px;
}

.service p {
    text-align: justify;
    font: 400 12px/22px sans-serif;
}


.service img {
    width: 457px;
    margin-bottom: 40px;
}

.service h2 {
    font: 700 18px/18px  sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service img{
    width: 460px;
    box-shadow: 4px 4px 15px rgb(87, 82, 82);
}

.service ul li {
    font: 400 14px/23px  sans-serif;
    padding: 05px 0px;
    display: block;
    border-bottom: 1px solid #282a2a;
    box-shadow: 0px 1px 0px rgb(202, 202, 202);
    padding: 15px 0px 13px;
    text-transform: uppercase;
}

.service ul {
    margin: 0 0 24px;
    letter-spacing: 0px;
}

.service ul li span {
    background: url('/img/icons.png') no-repeat;
    display: block;
    float: left;
    width: 30px;/* letter-spacing: 0px; */
    height: 30px;
    margin-top: -5px;
    margin-right: 15px;
    margin-left: 15px;
}

.service_full {
    float: left;
    margin-bottom: 40px;
}

.service_full h2 {
    font: 700 18px/24px sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.service_full ul li {
    font: 400 14px/23px  sans-serif;
    display: block;
    border-bottom: 1px solid #282a2a;
    box-shadow: 0px 1px 0px rgb(202, 202, 202);
    padding: 20px 0px 13px;
    text-transform: uppercase;

    margin-top: -5px;
    margin-right: 15px;
}

.service_full ul {
    margin: 0 0 24px;
    letter-spacing: 0px;
}

.service_full img{
    /*width: 540px;*/
    float: left;
    margin-bottom: 0;
    margin-left: -40px;
    margin-top: -80px;
    width: 1040px;
}

.service_full ul li span {
    background: url('/img/icons.png') no-repeat;
    display: block;
    float: left;
    width: 30px;/* letter-spacing: 0px; */
    height: 30px;
    margin-top: -10px;
    margin-right: 10px;
    margin-top: -5px;
    margin-right: 15px;
    margin-left: 15px;
}

.works {
    margin-top: 40px;
    margin-bottom: 40px;
    background: #e4e6e6;
    padding: 40px;
    float: left;
    color: #282a2a;
    width: 1040px;
}

.default_page_block{
    margin-top: 20px;
    margin-bottom: 20px;
    /*background: #e4e6e6;*/
    background: rgba(228, 230, 230, 0.8);
    padding: 40px;
    float: left;
    color: #282a2a;
    width: 1040px;
}

.contacts_list{
    font: 700 14px/28px sans-serif;
    color: #282a2a;

}

.contacts_list .mail{
    float: left;
}

.contacts_list b{
margin: 0px 10px;
    float: left;
}
.contacts_list .mail span{
    background-position: -150px -30px;
    float: left;
}

.contacts_list .skype span{
    background-position: -90px -30px;
    float: left;
}



.contacts_list .skype{
    float: right;
}


.works .site img {
    width: 456px;
    /*height: 548px;*/
    margin-right: 40px;
    float: left;
    box-shadow: 4px 4px 15px rgb(87, 82, 82);
}

.works .site h3 {
    font: 400 10px/10px  sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.works .site p {
    font: 400 12px/22px  sans-serif;
    margin-bottom: 10px;
}

.works .site ul {
    font: 400 11px/22px sans-serif;
    list-style: inherit;
    margin-bottom: 10px;
    margin-left: 40px;
}

.works .site h4 {
    text-transform: uppercase;
    font: 700 13px/18px  sans-serif;
    letter-spacing: 1px;
    margin: 0px 0 20px;
}

.site {
    width:100%;
    float: left;
    margin-bottom: 60px;
}

.site_description {
    float: left;
    width: 456px;
}

.site:last-of-type {
    margin-right: 0px;
}

.logo:hover{
    background: url('/img/back_blue.png'), rgb(100, 100, 100);
}

.menu_contacts {
    float: left;
    background: rgba(255, 255, 255, 0.07);
    padding: 15px;
    font: normal 12px/12px sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
    width: 1030px;
    margin-left: -40px;
}

.menu_contacts_phone{
    float:right;
}

.menu_contacts_mail{
    float: left;
}


.load{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 300;
    background: white;
    background: url('/img/grid.png') center -3px,white;

}
.load img{
    width: 336px;
    margin: 0 auto;
    display: block;
    margin-top: 340px;
}

.inner_services img {
    margin-bottom: 20px;
    width: 460px;
    box-shadow: 4px 4px 15px rgb(87, 82, 82);
}

.services_line{
    float:left;
}

.inner_content {
    float: left;
    width: 457px;
    margin-bottom: 40px;
}

.inner_content p {
    text-align: justify;
    font: 400 12px/22px sans-serif;
}

.inner_content h2 {
    font: 700 18px/18px sans-serif;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-transform: uppercase;
    /*border-bottom: 1px solid #282a2a;*/
    /*box-shadow: 0px 1px 0px rgb(202, 202, 202);*/
}


.inner_big_content h2{
    font: 700 18px/18px sans-serif;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 1px solid #282a2a;
    box-shadow: 0px 1px 0px rgb(202, 202, 202);
    float:left;
    width: 457px;
}

.inner_big_content p {
    text-align: justify;
    font: 400 12px/22px sans-serif;
}

.inner_services {
    float: left;
    margin-right: 40px;
    margin-bottom: 20px;
}

h1.error {
    text-transform: uppercase;
}

.inner_big_site {
    width: 457px;
    float: left;
    margin-right: 40px;
}

.inner_big_site img {
    width: 457px;
}

#thank_for_message{
    font: normal 10px/10px sans-serif;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px black;
    text-transform: uppercase;
}

.service_inner_ul{
    width: 457px;
    float: left;
}

.service_inner_ul ul li div{
    float: right;
}

/*.service_inner_ul:nth-of-type(2n) {
    margin-left: 20px;
}

.service_inner_ul:nth-of-type(2n+1) {
    margin-right: 20px;
}*/

.backtotop {
    position: fixed;
    right: 5px;
    bottom: 5px;
    z-index: 1000;
    background-position: -240px -60px !important;
    float: left;
}


.lightbox_wrap {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display:none ;
    background: rgba(0, 0, 0, 0.67);
}

.lightbox_back
{
    width: 100%;
    position: absolute;
    height: 100%;
}

.lightbox {
    width: 505px;
    margin: 0 auto;
    margin-top:200px;
    z-index: 1000;
    position: relative;
}

.content_h3 {
    margin: 24px 0px 24px;
    font-size: 14px;
    float: left;
    text-transform: uppercase;
    clear: both;
}



.block_round{
    float: left;
    width: 210px;
    margin-right:40px;
}

.row_sites{
    float: left;
}

.icon_round{
    background: #d7d8dc;


    background: #fffcfc, url('/img/services/icon_visit.png') no-repeat; /* Old browsers */
    background: -moz-linear-gradient(top, #fffcfc 0%, #e3eaed 50%, #bfbed1 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffcfc), color-stop(50%,#e3eaed), color-stop(100%,#bfbed1)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fffcfc 0%,#e3eaed 50%,#bfbed1 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fffcfc 0%,#e3eaed 50%,#bfbed1 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fffcfc 0%,#e3eaed 50%,#bfbed1 100%); /* IE10+ */
    background: linear-gradient(to bottom, #fffcfc 0%,#e3eaed 50%,#bfbed1 100%); /* W3C */
    /*background: url('/img/services/icon_visit.png') no-repeat;*/
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffcfc', endColorstr='#bfbed1',GradientType=0 ); /* IE6-9 */


    width: 210px;
    height: 210px;
    box-shadow: 4px 4px 15px rgb(87, 82, 82);
    /*border-radius: 100px;*/
    float:left;
    cursor:pointer;
}

.icon_round img{
    width: 150px;
    height: 150px;
    float:left;
    margin: 0px;
    padding: 30px;
}

.name_round{
    text-align: center;
}

.description_round{
    text-align: justify;
    font: 400 12px/16px sans-serif;
    margin-top: 20px;
    float: left;
}

.price_round{
    margin-top:20px;
    font: 700 12px/16px sans-serif;
    text-align: left;
    float: left;
}


.cube{
    position:fixed;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0px;
    bottom: 0px;
    z-index: 11;
}
.cube img{
    position: fixed;
    opacity:0;

}