.grid{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    background: none;
}
body{
    background: url('../img/grid.png') -39px 1px, #d7d8dc;
}

.sites_wrap{
    position: relative;
    z-index: 100;
    left:0px;
    top: 41px;
    height: 100%;
    width: 1920px;
}

.website{
    float: left;
    width: 160px;
    height: 160px;
    opacity: 0.3;
    position: relative;
}
.site_info{
    position: absolute;
    bottom:0px;
    height: 0px;
    background: rgba(0, 0, 0, 0.8);
    background:url('../img/back_gray.jpg'), rgb(100, 100, 100);
    box-sizing: content-box;
    opacity: 0.9;
    overflow: hidden;
    width: 100%;
}


.site_info_name{
    text-transform: uppercase;
    border-bottom: 1px solid #2a2c34;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0px 1px 0px rgb(104, 104, 104);
    font: 400 12px/12px sans-serif;
    padding: 7px 5px 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    color: #bfc5d0;
}

.site_info_description{
    padding: 0px 5px 5px;
    font: 400 10px/10px sans-serif;
    text-shadow: 1px 0px 1px rgb(0, 0, 0);
    color: white;
}

.website:hover{
    opacity: 1;
}

.row{
    float: left;
}

.sites_wrap img{
    width: 160px;
    height: 160px;
}

.info_line {
    position: fixed;
}

.website.small {
    width: 80px;
    height: 80px;
}

.website.small img {
    width: 80px;
    height: 80px;
}

.add_site{
    cursor: pointer;
}