@media screen and (max-width: 1040px){
    .services,.default_page_block {
        width:540px;
    }
    .main_wrap {
        width: 540px;
    }
    .info_line_description h2{
        display:none;
    }
    .service_full img{
        width: 540px;
    }
    .service_second_img{
        display:none;
    }

    .icon_round img {
        width: 150px;
    }
}